---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: projectclaims.gcp.managed.openshift.io
spec:
  group: gcp.managed.openshift.io
  names:
    kind: ProjectClaim
    listKind: ProjectClaimList
    plural: projectclaims
    singular: projectclaim
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Status of the project claim
      jsonPath: .status.state
      name: State
      type: string
    - description: ID of the GCP Project that has been created
      jsonPath: .spec.gcpProjectID
      name: GCPProjectID
      type: string
    - description: Age since the project claim was created
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ProjectClaim is the Schema for the projectclaims API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ProjectClaimSpec defines the desired state of ProjectClaim
            properties:
              availabilityZones:
                items:
                  type: string
                type: array
                x-kubernetes-list-type: atomic
              ccs:
                type: boolean
              ccsProjectID:
                type: string
              ccsSecretRef:
                description: NamespacedName contains the name of a object and its
                  namespace
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                - namespace
                type: object
              gcpCredentialSecret:
                description: NamespacedName contains the name of a object and its
                  namespace
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                - namespace
                type: object
              gcpProjectID:
                type: string
              legalEntity:
                description: LegalEntity contains Red Hat specific identifiers to
                  the original creator the clusters
                properties:
                  id:
                    type: string
                  name:
                    type: string
                required:
                - id
                - name
                type: object
              projectReferenceCRLink:
                description: NamespacedName contains the name of a object and its
                  namespace
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                - namespace
                type: object
              region:
                type: string
            required:
            - gcpCredentialSecret
            - legalEntity
            - region
            type: object
          status:
            description: ProjectClaimStatus defines the observed state of ProjectClaim
            properties:
              conditions:
                items:
                  description: Condition contains details for the current condition
                    of a custom resource
                  properties:
                    lastProbeTime:
                      description: LastProbeTime is the last time we probed the condition.
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: LastTransitionTime is the last time the condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Message is a human-readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: Reason is a unique, one-word, CamelCase reason
                        for the condition's last transition.
                      type: string
                    status:
                      description: Status is the status of the condition.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-type: atomic
              state:
                description: ClaimStatus is a valid value from ProjectClaim.Status
                type: string
            required:
            - conditions
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
