# Google Cloud organization Parent Folder ID
PARENTFOLDERID= 

# Google billing ID from https://console.cloud.google.com/billing
BILLINGACCOUNT= 

GCP_PRIVATE_KEY_LOCATION=
PROJECT_NAMESPACE=gcp-project-operator
